body {
  background: url("../assets/img/b_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  &.outside {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    border: 20px;
    box-shadow: 1px 2px 4px #000;
    background: #ccc;
  }
}
