@import "./font.scss";
body {
  background: url("../assets/img/w_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.5s;
  font-family: sans-serif, "my_font", "微軟正黑體";
}
section {
  &#outside {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border-radius: 15px;
    border: 20px;
    box-shadow: 1px 2px 4px #000;
    background: #333;
    opacity: 0.7;
    transition: all ease-in-out 0.5s;
  }
  header {
    height: 68px;
    background: #000;
    border-radius: 15px 15px 0 0;
    line-height: 68px;
    color: #fff;
    transition: all ease-in-out 0.5s;
    .sunBtn {
      float: right;
      position: relative;
      right: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
